.about-section{
    /* width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column ;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;  
    position: relative;
    top: 4rem; 
    padding: 0 4%; */ 
    padding: 6rem 6%;
    background-color:#FFF;; 
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 48px;
    align-items: center;
    /* align-self: stretch;  */
}
.abt-cnt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
}
.abt-head h3{ 
    color: #000;
    font-family: Times New Roman;
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
} 
 
.text{ 
    color: #272626;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    align-self: stretch;
}
.text p{
    line-height: 28px;    
}
 







/*  MEDIA QUERY MEDIUM SCREEN */
@media screen and (max-width:900px) {
    .about-section{  
        background-size: cover;
        top: 1rem; 
        padding: 0 3%;
    }
    
    .abt-head-cnt{  
        padding: 1rem 0; 
        flex-direction: column;  
    }
    .abt-txt-cnt{  
        grid-template-columns: 1fr;
        margin-block: 1rem; 
    }
    .abt-txt1{ 
        width: 100%;
    }
  
}





@media screen and (max-width:400px) {
    .about-section{   
        top: 2rem;  
    }
 
    .abt-txt-cnt{   
        margin-block:1rem; 
    }
    .abt-txt-cnt{  
        margin-block: 0; 
    }
  
}




















