 
.hero-section{   
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 1rem; 
    width: 100%;
    min-height: 100vh; 
    padding: 0 6%;
} 
.box1{
    display: flex;
    min-height: 15vh;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.hero-cont{ 
    display: grid;
    grid-template-columns: repeat(2,1fr); 
} 
.hero-1{  
    flex-direction: column;
    align-self: center;  
}
 .hero-head h1{
    font-size: clamp(3rem,7vw,7rem); 
    color: #2FACED;
    font-family: Times New Roman; 
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}
.hero-text{ 
    width: 93%;
    margin-top: .7rem; 
}
.hero-text p{  
    color: #272626;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
}  
.hero-links{  
    padding:1rem 0;
    /* background-color: yellow;     */
 }
 .hero-links a {
    margin-right: 1rem;
    font-size: 1.5rem;
    align-items: center; 
 } 
/* HERO IMAGE */ 
.hero-2{
    width: 98%;
    margin:  0 auto;
    padding: 0;
}
.img-cont{
    width: 90%; 
    margin: 0 auto;
    padding-top: 1rem;
    border: none;
}
.hero-pic img{
    width: 100%;
} 
.hero-ppic{ 
    background:#252525 url(/src/compnent/image/isac.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20%; 
    float: right;
    width: 80%;
    height: 80vh;
}

 



 
 
/*  MEDIA QUERY MEDIUM SCREEN */
@media screen and (max-width:900px) {
    .box1{
        display: none;
    } 
    .hero-section{  
        top: 0; 
        padding: 0 3%; 
        background-size: cover;
        min-height: 90vh; 
    } 
    .hero-cont{ 
        grid-template-columns:1fr; 
    }
    .hero-1{ 
        margin-top: 5rem; 
    } 
    .hero-text{ 
        width: 90%;
        margin-top: .5rem; 
    }
    .hero-head h1{
        font-size: clamp(4rem,7vw,7rem); 
    } 
    .hero-text p{   
        font-weight: 510; 
    }  
    .hero-2{
        display: block;
    }
    .hero-2{
        width: 98%;
        margin:  0 auto;
        padding: 0; 
    }
    .img-cont{
        width: 100%;  
    } 
    .hero-ppic{  
        border-radius: 5%;
        margin: 0 auto; 
        float: none;
        width: 100%;
        height: 90vh;
    }

}
 
/* MEDIA FOR SMALLER SCREEN */
@media screen and (max-width:400px) {
    .box1{
        display: none;
    } 
    .hero-text p{  
        line-height: 1.7rem; 
    }

}























