

.contactsec{
    padding: 6rem 6%;
    background-color:#252525; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch; 
    min-height: 100vh;
    /* color: #FFFFFF; */
   
}
.contact-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
} 
.contact-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    flex: 1 0 0;
}
.text1 h2{
    color: #ffff;
    font-family: Times New Roman;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: 64px; /* 133.333% */
}
span{
    color: #2FACED;
}
.text2{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 54px;
}
.text2-1{ 
    display: flex;
    align-items: center;
    gap: 80px;
}
.text2-1 p{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
 
.text2-2{
    display: flex;
    align-items: center;
    gap: 80px;
}
.text2-3{
    display: flex;
    align-items: center;
    gap: 80px;
    color: #FFF;
}
/* a{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} */









@media screen and (max-width:400px) {
 
}
























