/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* DOWNLOADED FONTS */
/* @font-face{
  font-family: 'font';
  src: url('font/NeueMachina-Ultrabold.otf'); 
}
@font-face{
  font-family: 'fonty';  
  src: url('font/NeueMachina-Light.otf');
}
@font-face{
  font-family: 'fontty'; 
  src: url('font/NeueMachina-Regular.otf'); 
} */

 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none; 
  transition: .2s linear;  
  color:var(--color); 
}
html{ 
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar{
  width: .4rem;
}
html::-webkit-scrollbar-track{
  background: transparent;
}
html::-webkit-scrollbar-thumb{ 
  background-color: black;
  border-radius: 5rem;
} 
body{ 
  background: white;
  font-family: 'font';
  color: var(--color); 
  transition: .2s linear; 
  
}

:root{
  --color: rgba(17, 17, 17, 0.932);
}


























